    html{
background-color: antiquewhite;
    }
    
    main{
        display: grid;
        grid-template-columns: 150px 150px 150px 150px;
        background-color: goldenrod;
        grid-template-rows: 400px;
        width: 600px;
    }
    main > div{
        border: 6px solid black;
        margin: 10px;
        
    }
    #one{
        background-color: red;
    }
    #two{
        background-color: green;
    }

    #three{
        background-color: blue;
    }

    #four{
        background-color: purple;
    }
    